input {
    padding-left: 10px;
}

input::placeholder {
    color: white;
}

.search:focus {
    outline: none;
    border-color: #ff725c;
}

.Searchbox {
    margin-top: 15vh;
}

.md2 {
    width: 50vw;
}

@media only screen and (max-width: 1000px) {
    .md2 {
        width: 70vw;
    }
}