.forminp {
    transition-duration: 2s;
}

.forminp:focus {
    outline: none;
    border-color: white;
}

.mb3 {
    width: 170px;
    height: 60px;
}

.md1 {
    width: 30vw;
}

.Souscrire {
    transition-duration: 0.3s;
}

.Souscrire:hover {
    border-color: #ff725c;
}

.correct {
    display: inline;
    color: transparent; 
    transition-duration: 1.8s;
}

@media only screen and (max-width: 1000px) {
    .md1 {
        width: 50vw;
    }
}