.forminp {
    transition-duration: 2s;
}

.forminp:focus {
    outline: none;
    border-color: white;
}

.mb3 {
    width: 170px;
    height: 60px;
}

.md1 {
    width: 30vw;
}

.contactdiv {
    background-color: rgb(255, 78, 51, 0.2);
}

.Souscrire {
    transition-duration: 0.3s;
    border-image: linear-gradient(to right, #ff4e33 0%,#ffffff 100%);
    border-image-slice: 1;
}

.correct {
    display: inline;
    color: transparent; 
    transition-duration: 1.8s;
}

@media only screen and (max-width: 1000px) {
    .md1 {
        width: 50vw;
    }
}