.showblock {
    width: 50vw;
    height: 25vh;
    margin-bottom: 5vh;
}

.showblockdiv {
    height: 8vh;
}

@media only screen and (max-height: 850px) {

    .showblock {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

}

@media only screen and (max-height: 700px) {

    .showblock {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

}

@media only screen and (max-height: 600px) {

    .showblock {
        margin-top: 25vh;
        margin-bottom: 20vh;
    }
}


@media only screen and (max-height: 430px) {

    .showblock {
        margin-top: 35vh;
        margin-bottom: 30vh;
    }
}

@media only screen and (max-width: 900px) {

    .showblock {
        width: 70vw;
    }

}

@media only screen and (max-width: 364px) {

    .showblock {
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

}
