.showblock {
    width: 50vw;
    height: 25vh;
    margin-bottom: 10vh;
}

.showblockdiv {
    height: 10vh;
}

@media only screen and (max-height: 850px) {

    .showblock {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

}

@media only screen and (max-height: 750px) {

    .showblock {
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

}

@media only screen and (max-height: 650px) {

    .showblock {
        margin-top: 30vh;
        margin-bottom: 30vh;
    }
}


@media only screen and (max-height: 430px) {

    .showblock {
        margin-top: 40vh;
        margin-bottom: 40vh;
    }
}

@media only screen and (max-width: 900px) {

    .showblock {
        width: 70vw;
    }
}

@media only screen and (max-width: 365px) {

    .showblock {
        margin-top: 50vh;
        margin-bottom: 50vh;
    }
}


